
# Pandas Data Frames
_"The primary Pandas data structure."_

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [6]:
# Pandas Data Frames can be thought as 
# "just a bunch of Series objects that share an index"
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

### Techniques for subsetting DataFrames

In [10]:
# Pandas DataFrames Columns can be acessed similarly as we usually make in SQL.
# In SQL, it is usual to refer to columns by referencing table name, dot and column name.
# Although possible, it is not recommended. And this is because it may confuse the program.
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

### References

* [Pandas data frames][1]

[1]:https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame