# Data IO

* CSV
* Excel
* HTML
* SQL

In [1]:
import pandas as pd

In [2]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# other possible methods for I/O

pd.read_clipboard

pd.read_hdf

pd.read_html

pd.read_json

pd.read_parquet

pd.read_pickle

pd.read_sas

pd.read_sql

pd.read_sql_query

pd.read_sql_table

pd.read_stata

pd.read_table

### In order to write to a CSV file, we need a Data Frame

In [3]:
df = pd.read_csv('example')

In [4]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.to_csv('My_output', index=False)

### Reading and Writing from Excel xlsx files

Just data. Not images, formulas or macros.

In [6]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

### Reading from HTML sources

In [8]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

type(data)

list

### Working with SQL

Pandas is not actually the best way to read a SQL database. That is because there are many flavors of SQL engines, such as PostgreSQL, MySQL, SQLlight, etc.

Here we are going to see one technique that is usefull to quick create a in memory SQL engine.

However, it is recommended to search for a specific driver depending on your specific SQL engine.

For example, for PostgreSQL, take a look at **psycopg2**. Or, if your database is MySQL, you should use PyMySQL.

https://github.com/vinta/awesome-python#data-analysis

https://github.com/vinta/awesome-python#database-drivers

https://github.com/vinta/awesome-python

In [9]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('sqlite:///:memory:')

In [12]:
df.to_sql('my_table', engine) # engine is going to be a connection, actually

In [13]:
sqldf = pd.read_sql('my_table', con=engine)
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15