# Pandas Data Frame Part 3

### Data Frames with multi-level indexes

In [32]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [8]:
outside = "G1 G1 G1 G2 G2 G2".split()
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [24]:
a = np.arange(1,4)
inside = np.concatenate([a,a])
inside

array([1, 2, 3, 1, 2, 3])

In [25]:
hierarchy_index = list(zip(outside, inside))
hierarchy_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [28]:
hierarchy_index = pd.MultiIndex.from_tuples(hierarchy_index)
hierarchy_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [35]:
df = pd.DataFrame(randn(6, 2), hierarchy_index, ['A','B'])
df

             A         B
G1 1 -0.182152  0.128857
   2  0.280157  1.468307
   3 -0.389558  0.957033
G2 1 -1.434438 -0.734669
   2 -1.356775  0.255098
   3 -0.508423 -0.204457

In [36]:
df.loc['G1']

          A         B
1 -0.182152  0.128857
2  0.280157  1.468307
3 -0.389558  0.957033

In [37]:
df.loc['G1'].loc[1]

A   -0.182152
B    0.128857
Name: 1, dtype: float64

In [39]:
df.loc['G1'].loc[1]['B']

0.12885692704986665

In [40]:
df.index.names

FrozenList([None, None])

In [41]:
df.index.names = ['Groups','Num']

In [42]:
df.index.names

FrozenList(['Groups', 'Num'])

In [43]:
df

                   A         B
Groups Num
G1     1   -0.182152  0.128857
       2    0.280157  1.468307
       3   -0.389558  0.957033
G2     1   -1.434438 -0.734669
       2   -1.356775  0.255098
       3   -0.508423 -0.204457

### Cross Section Function

**Signature:**

    df.xs(key, axis=0, level=None, drop_level=True)

**Docstring:**

Returns a cross-section (row(s) or column(s)) from the

Series/DataFrame. Defaults to cross-section on the rows (axis=0).

In [45]:
df.xs('G1')

            A         B
Num
1   -0.182152  0.128857
2    0.280157  1.468307
3   -0.389558  0.957033

In [48]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.182152  0.128857
G2     -1.434438 -0.734669

In [49]:
df

                   A         B
Groups Num
G1     1   -0.182152  0.128857
       2    0.280157  1.468307
       3   -0.389558  0.957033
G2     1   -1.434438 -0.734669
       2   -1.356775  0.255098
       3   -0.508423 -0.204457